.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: #f27024 !important;
  border-color: #f27024 !important;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  color: #ffffff !important;
  background-color: #393939 !important;
  border-color: #393939 !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
